<h1>Show Page for Posts</h1>

<h2>Title: <%= @post.title %></h2>
<p><%= @post.content %></p>

<h4>Categories:
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</h4>

<h3>Comments: </h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>
</ul>

<h3>Unique Users:</h3>
<ul>
  <% @post.unique_users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>


<%= form_for @comment do |p| %>

  <%= p.collection_select :user_id, User.all, :id, :username %>
  <br>
  <%= p.fields_for :user, @post.users.build do |user_fields| %>
    <%= p.label "New user:" %>
    <%= user_fields.text_field :username %>
  <% end %>
  <br><br>

  <%= p.label      "Comment: " %>
  <%= p.text_area :content %>
  <br><br>

  <%#= p.input :post_id, type: :hidden,  %>
  <%= p.hidden_field :post_id, :value => @post.id %>

  <%= p.submit "Create Comment" %>

<% end %>
